.chat-sidebar {
    max-width: 645px;
    padding: 15px 15px 15px 30px;

    & * {
        margin: 0;
        padding: 0;
    }
}

.chat-sidebar__divider {
    width: calc(100% - 18px);
    height: 1px;
    margin-top: 20px;
    background-color: #CDCDCD;
    display: block;
}

.chat-sidebar__profile-list {
    height: 700px;
    padding-right: 18px;
    list-style-type: none;
    overflow: hidden;
    overflow-y: scroll;
}