.job-modal__page-view {
  & .navbar-home {
    height: 170px;
    padding-bottom: 0;
  }
}

.job-modal__page-view--wrapper {
  display: flex;
  width: 73vw;
  margin: 0 auto;
  position: relative;
  top: 180px;

  & * {
    outline: none;
  }

  .job-modal__page {
    padding-left: 0;
  }

  & .job-modal__sidebar-user {
    margin-top: 0;
  }
}