$mainColor: #1D71B8;

.navbarHom {
  width: 100vw;
  height: 300px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  
  .logoBg {
    width: 37%;
    height: 485px;
    background-image: url("../../img/EllipseNav.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    img{
      width: 51%;
      margin: 90px 0 0 256px;
      height: auto;
    }
  }
  .logoBgWhite{
    position: relative;
    width: 37%;
    height: 485px;
    background-image: url("../../img/EllipseNavWhit.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    img{
      width: 51%;
      margin: 90px 0 0 256px;
      height: auto;

    }
  }
  .homeNavbar{
    width: 58%;
    position: relative;
    margin-top: 4.2%;

    .nav{
      height: 50px;
      margin-left: 20px;
      position: relative;
      border-bottom: 5px solid white;
      border-radius: 2.5px;
      display: flex;
      justify-content: space-between;
      width: 55%;
      .nav-link{
        cursor: pointer;
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 28px;
        display: flex;
        justify-content: center;
        color: $mainColor;
        transition: 0.2s linear;

        &:hover {
          transition: 0.2s linear;
          border-bottom: 5px solid $mainColor;
        }
      }
      .active{
        border-bottom: 5px solid $mainColor;
      }
    }
    .boxBtn{
      margin-left: 50px;
    }
  }
}

.nav{
    position: relative;
    .line{
      width: 5px;
      height: 80%;
      background-color: $mainColor;
      position: absolute;
      top: 15%;
      left: 45%;
      z-index: 0;
    }
    .navtest{
      z-index: 10;
      margin-top: 10px;
      background-color: inherit;
      width: 50px ;
      height: 50px;
      display: flex;
      padding: 0;
      justify-content: center;
      align-items: center;
      .dots{
        cursor: pointer;
        width: 30px !important;
        height: 30px;
        border: 5px solid $mainColor;
        background-color: #F5F5F7;
        border-radius: 50%;
        transition: 0.4s linear;

      }
    }
    .active{
      .dots{
        transition: 0.4s linear;
        border: 10px solid $mainColor;
        width: 50px !important;
        height: 50px !important;
      }
    }
  }