.checkbox-in-m{
  height: 20px;
  display: flex;
  align-items: center;

}
.modal-footer1{
  width: 100% ;
  display: flex;
  justify-content: space-between;
}

.modal-footer {
  margin: 0 !important;
}

